* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {

    border-width: 1px;
    border-color: grey;

}


header {
    background-color: #add8e6;
    display: grid;
}

.header_style {
    background-color: #daa520;
    margin: 20px 0;
}

footer {
    background-color: #23272a;
}



  /* utility */
span {
    padding: 5px;
}

.dotted_border {
    border-width: 1px;
    border-style: dashed;
    border-color: black;
}

/* classe per l'inserimento dello sfondo a onda grigio */
.bg_grey {


    background-color: #d3d3d3;
}

.bg_blu {


    background-color: darkblue;
}

.alt_500 {
    height: 500px;
}

.wid_80 {
    width: 80%;
}

.txt_rx {
    text-align: right;

}


[class^="col-"] {
    padding: 0 1rem;

}


/* contenitori */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;

}

.container-low {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.space_interlinea {
    padding: 40px 0;
}




.col-2 {
    width: calc((100% / 12) * 2);
    border-color: white;


}

.col-3 {
    width: calc((100% / 12) * 3);


}

.col-4 {
    width: calc((100% / 12) * 4);

}

.col-5 {
    width: calc((100% / 12) * 5);

}

.col-6 {
    width: calc((100% / 12) * 6);
    display: flex;
    justify-content: center;

}

.col-7 {
    width: calc((100% / 12) * 7);

}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-12 {
    width: calc((100% / 12) * 12);

}



/* debug  */


.banner_content {

    height: 400px;
    background-color: #ee82ee;
}

.banner_footer {

    height: 800px;
    background-color: #228b22;
}

.col-5 {
    background-color: #ffc0cb;
    height: 400px;

}

.col-4 {
    background-color: #f08080;
    height: 400px;

}

.col-2 {
    background-color: #20b2aa;
    height: 400px;

}

.col-7 {
    background-color: #1e90ff;
    height: 400px;


}

.col-12 {
    width: calc((100% / 12) * 12);
    height: 100px;
    background-color: #7fffd4;
}