*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}



span{
padding: 5px;
}



[class^="col-"]{
    padding: 0 1rem;
}


.container{
    width: 80%;
    max-width: 1200px;
    margin: 10px auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.col-3{
    width: calc((100% / 12) * 3);
   

}

.col-6{
    width: calc((100% / 12) * 6);

}

/* debug  */

.row{
    background-color: burlywood;
 
}